header.header {
	position: relative;
	background: linear-gradient(0deg, $blue, $mediumblue);
	margin-bottom: 32px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #FFF;
	z-index: 5; // so the :after blue bar is over other content
	
	h1 {
		margin: 0;
	}
	
	a {
		color: #FFF;
	}
	
	&:after {
		content: "";
		position: absolute;
		bottom: -28px;
		left: 0;
		width: 100%;
		border-top: 4px solid #FFF;
		height: 28px;
		border-radius: 0 0 28px 28px;
		background: linear-gradient(90deg, $lightblue, $blue);
	}
	
	.logo {
		max-width: 307px;
		margin-right: 4%;
		width: 45%;
	}
	
	.tagline {
		max-width: 361px;
		padding-top: 17.25%;
		width: 51%;
	}
}

body#about #main-menu li.menu-li-about {
	background-image: linear-gradient(0deg, #71B1CB, #2c95b5);
}

body#contact #main-menu li.menu-li-contact {
	background-image: linear-gradient(0deg, #71B1CB, #2c95b5);
}

body#jobs #main-menu li.menu-li-jobs {
	background-image: linear-gradient(0deg, #71B1CB, #2c95b5);
}

body#about #main-menu li.menu-li-about {
	background-image: linear-gradient(0deg, #71B1CB, #2c95b5);
}

#main-menu {
	float: right;
	list-style: none;
	margin: -1rem 0;
	
	li {
		float: left;
		padding: 3.75rem 1rem 1.75rem;
		font-size: 1.25rem;
		
		@include mq(netbook) {
			padding-top: 5.75rem;
		}
		
		&.active {
			background-image: linear-gradient(0deg, #71B1CB, #2c95b5);
		}
		
		a {
			color: #d8f3ff;
			
			&:hover, &:active {
				color: #FFF;
			}
		}
		
		.right-off-canvas-toggle {
			text-indent: -9999em;
			display: block;
			height: 1.5em;
			border-top: .3em solid #FFF;
			border-bottom: .3em solid #FFF;
			width: 2em;
			position: relative;
			margin-top: -1.5em;
			
			&:before {
				content: "";
				position: absolute;
				left: 0;
				height: .3em;
				width: 2em;
				background-color: #FFF;
				top: .45em;
				margin-top: -.15em;
			}
		}
	}
}

.right-off-canvas-menu {
	background-image: linear-gradient(-90deg, $blue, $mediumblue);
	
	nav {
		padding: 1rem 1rem 1rem 2rem;
		
		ul {
			list-style: none;
			
			li {
				a {
					color: #FFF;
				}
			}
		}
	}
}

.secondary-menu {
	padding: 1rem;
	background-color: #4d4b4c;
	border-top: 1px solid $lightblue;
	
	@include mq(netbook) {
		margin-bottom: 6rem;
	}
	
	h1 {
		line-height: .8em;
		font-weight: 300;
		font-variant: small-caps;
		
		a {
			display: inline-block;
		}
	}
	
	a {
		color: #FFF;
		position: relative;
		
		&.active {
			&:after {
				content: "";
				display: block;
				height: 2px;
				width: 100%;
				background-color: $lightblue;
				margin-top: .1em;
			}
		}
	}
	
	#secondary-menu {
		float: right;
		
		@include mq(netbook) {
			margin-top: .6rem;
		}
		
		li {
			float: left;
			margin-left: 2.25em;
			list-style: none;
			
			a {
				font-weight: 300;
				font-size: 1.1rem;
				
				@include mq(netbook) {
					font-size: 1.3rem;
					
					&:before {
						position: absolute;
						left: -1em;
						top: .45em;
						content: "";
						width: .4em;
						height: .4em;
						border-radius: 100%;
						background: #FFF;
					}
				}
			}
			
			&:first-child {
				a {
					&:before {
						display: none;
					}
				}
			}
		}
	}
}

@include mq(tablet) {
	header.header {
		.logo {
			width: 131px;
			float: left;
		}
		
		.tagline {
			width: 131px;
			padding-top: 51px;
			float: left;
		}
	}
}

@include mq(small) {
	header.header {
		.logo {
			
		}
		
		.tagline {
			padding-top: 0.6rem;
		}
	}
}

@include mq(netbook) {
	header.header {
		.logo {
			margin-right: 0;
			padding-top: 1rem;
		}
		
		.tagline {
			
		}
	}
}

@include mq(desktop) {
	header.header {
		.logo {
			margin-right: 1rem;
			padding-top: 1rem;
			width: 168px;
		}
		
		.tagline {
			padding-top: 83px;
			width: 157px;
		}
	}
	
	#main-menu li {
		padding-top: 5.25rem;
	}
}

@include mq(desktop-hd) {
	header.header {
		h1 {
			width: 58.3333%; // large-7
		}
		
		nav {
			width: 41.6667%; // large-5
		}
		
		.logo {
			padding-top: 0;
			width: 307px;
		}
		
		.tagline {
			padding-top: 118px;
			width: 361px;
		}
	}
	
	#main-menu li {
		font-size: 1.5rem;
		padding-top: 8.1rem;
		padding-bottom: 2.25rem;
	}
}