@import "vars";
@import "mixins";
// 3rd party
@import "vendor/normalize";
@import "vendor/print";
@import "vendor/classes";
@import "vendor/normalize";
@import "vendor/foundation";
@import "vendor/flexslider";
// custom
@import "theme/base";
@import "theme/typography";


// Kitchen Sink

.blue-bg { background-color: $blue; }
.medium-blue-bg { background-color: $mediumblue; }
.light-blue-bg { background-color: $lightblue; }
.grey-bg { background-color: $grey; }
.light-grey-bg { background-color: $lightgrey; }

.swatch {
	display: block;
	height: 128px;
	width: 128px;
	//border: 2px solid #fff;
	//outline: 2px solid #000;
	box-shadow: 0 0 10px 2px #DDD;
}


// Flexslider custom

.flexslider {
	border: 0;
	border-radius: 0;
	overflow: hidden;
	
	.slides {
		li {
			padding: 3em 0 6em;
			background-size: cover;
			background-position: top center;
			background-repeat: no-repeat;
		}
	}
	
	.flex-control-nav {
		bottom: 3em;
		z-index: 5;
	}
	
	.flex-control-paging li a {
		box-shadow: 0 0;
		background-color: rgba(255, 255, 255, 0.4);
		width: 26px;
		height: 26px;
		
		&.flex-active {
			background-color: rgba(255, 255, 255, 0.6);
		}
	}
	
	&.hero {
		&:before {
			content: "";
			position: absolute;
			z-index: 5;
			display: block;
			background-image: url(../images/carousel/floating-icons.png);
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			
			top: 4em;
			left: 10%;
			width: 80%;
			height: 8em;
			
			@include mq(netbook) {
				top: 10%;
				left: 10%;
				width: 34%;
				height: 80%;
			}
		}
		
		.slides {
			li {
				text-align: center;
				padding: 12em 0 6em;
				
				@include mq(netbook) {
					padding: 6em 0 10em;
				}
				
				h1 {
					color: #FFF;
					line-height: 1.1em;
					text-shadow: 0 0 5px #000;
					margin-bottom: 2rem;
					font-size: 2.5rem;
					
					@include mq(netbook) {
						font-size: 4rem;
					}
				}
				
				p {
					color: #FFF;
					text-shadow: 0 0 5px #000;
					font-size: 1.25rem;
					
					@include mq(netbook) {
						font-size: 2rem;
					}
				}
				
				h1, h2, h3, h4, h5, h6, p, ul, ol {
					position: relative;
					z-index: 4;
					
					@include mq(netbook) {
						width: 40%;
						margin-left: 50%;
					}
				}
				
				&:after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 70%;
					z-index: 1; // Over the background image, below the copy
					opacity: .6;
					background-image: linear-gradient(180deg, $blue, rgba(0, 113, 116, 0));
				}
			}
		}
		
		@include mq(netbook) {
			.flex-control-nav {
				left: 50%;
				width: 40%;
			}
		}
	}
	
	&.quoteslider {
		.slides {
			background-image: url(../images/carousel/blue-bg.jpg);
			background-size: cover;
			background-position: top center;
			
			li {
				text-align: center;
				
				h2, p {
					width: 75%;
					margin: 1rem auto;
					color: #FFF;
				}
				
				button.read-more {
					position: absolute;
					bottom: 1em;
					left: 70%;
				}
			}
		}
	}
}


// Typography

h2 {
	font-variant: small-caps;
	color: $blue;
	text-align: center;
}

h3 {
	color: $mediumblue;
	font-style: italic;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1;
	margin-top: 0;
}

h4 {
	font-variant: small-caps;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family;
}

// Font size increase for desktop
@include mq(netbook) {
	p, table tr th, table tr td, button,
	input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"],
	select, textarea{
		font-size: 1.25rem;
	}
}

.dark-bg {
	background-color: $mediumblue;
	color: #FFF;
	padding: .5em;
	text-align: center;
	font-style: normal;
	font-weight: 300;
}


// Buttons / Forms

button {
	background-color: $blue;
	background-image: linear-gradient(0deg, $blue, $mediumblue);
	transition: all .5s ease-in-out 0s;
	color: #FFF;
	padding: 1em 4em;
	border-radius: .75em;
	margin-top: 1rem;
	
	&:focus, &:hover {
		background-image: linear-gradient(0deg, $mediumblue, $blue);
	}
	
	&:active {
		transition: background-image .1s ease-in-out 0s;
		background-image: linear-gradient(0deg, $lightblue, $mediumblue);
	}
	
	&.light {
		background-color: #4e90b3;
		background-image: none;
		
		&:focus, &:hover, &:active {
			background-color: $lightblue;
			color: $blue;
		}
	}
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], input[type="color"],
select, textarea {
	background-color: $lightgrey;
	color: #FFF;
	border: 0;
	border-radius: .75em;
	
	padding: 0 1.5rem;
	height: 3rem;
	margin-bottom: .25rem;
	
	&:focus, &:hover {
		background-color: $grey;
	}
	
	&:focus {
		box-shadow: inset 0 0 3px #000;
	}
}



// Main / general styles

body, html {
	color: $grey;
	background-color: #FFF;
	font-family: $font-family;
}

table {
	border: 0;
	width: 100%;
	background: none;
	
	tr {
		th, td {
			text-align: center;
			padding: 1em;
			color: $grey;
		}
		
		th, .blue {
			color: $blue;
		}
	}
	
	tr.even, tr.alt, tr:nth-of-type(2n) {
		background: none;
	}
}

section {
	margin-top: 4rem;
	margin-bottom: 4rem;
	
	.row {
		margin-bottom: 1rem;
	}
	
	.intro-row {
		margin-bottom: 3rem;
	}
}

hr {
	background-color: #4b8fb2;
	border: 0;
	height: 4rem;
}

.center {
	text-align: center;
}


@import "theme/header";

.hero { // .hero is right under the header
	margin-top: -28px;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: 138px;
	
	@include mq(netbook) {
		min-height: 264px;
	}
	
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1; // Over the background image, below the copy
		opacity: .6;
		background-image: linear-gradient(180deg, $blue, rgba(0, 113, 116, 0));
		width: 100%;
		height: 70%;
	}
}

.round-corners {
	border-radius: 2em;
	margin-bottom: 2em;
}

.blue-border {
	border: 4px solid $mediumblue;
}

.light-bg {
	background: linear-gradient(0deg, #f3f8fb, $lightblue);
	position: relative;
	margin-top: 32px;
	margin-bottom: 32px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	
	@include mq(netbook) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	
	&:before {
		content: "";
		position: absolute;
		bottom: -28px;
		left: 0;
		width: 100%;
		border-top: 4px solid #FFF;
		height: 28px;
		border-radius: 0 0 28px 28px;
		background: linear-gradient(90deg, $lightblue, $blue);
	}
	
	&:after {
		content: "";
		position: absolute;
		top: -28px;
		left: 0;
		width: 100%;
		border-bottom: 4px solid #FFF;
		height: 28px;
		border-radius: 28px 28px 0 0;
		background: linear-gradient(90deg, $blue, $lightblue);
	}
}

.text-module {
	margin-top: 4em;
	margin-bottom: 4em;
	
	text-align: center;
	
	h2 {
		margin-top: 0;
	}
	
	p {
		text-align: left;
	}
	
	img {
		border-radius: 2em;
	}
}

.bio-row {
	a strong {
		font-weight: 700;
		font-style: italic;
		display: inline-block;
		margin-left: 1em;
	}
}

.job-postings {
	.sign-up {
		h3 {
			font-style: italic;
			color: $blue;
			line-height: 1.1em;
			font-size: 1.8rem;
		}
	}
}


@import "theme/footer";


// Page specific styles
body#about {
	.hero {
		background-image: url(../images/carousel/slide-1.jpg);
		
	}
}

body#jobs {
	.hero {
		background-image: url(../images/carousel/slide-2.jpg);
		
	}
}

body#company-bios {
	.hero {
		background-image: url(../images/carousel/slide-3.jpg);
		
	}
}

body#contact {
	.hero {
		background-image: url(../images/carousel/slide-4.jpg);
		
	}
}