footer.footer
  .row
    .columns.small-12.medium-6
      ul.footer-contact-list
        li
          a(href="#") News
        li
          a(href="jobs.html") Careers at sPoint
        li
          a(href="#") Other
        li
          a(href="contact.html") Contact
      p
        a(href="#") Privacy &#8226; 
        &copy;2015 sPoint Partners
    
    .columns.small-12.medium-6
      ul.footer-social-list
        li.social-icon.social-facebook
          a(href="#facebook") Find us on Facebook
        li.social-icon.social-twitter
          a(href="#") Follow us on Twitter
        li.social-icon.social-linkedin
          a(href="#") Find us on LinkedIn