footer.footer
  .row
    .columns.small-12.medium-6
      figure.footer-logo
        img(src="images/logos/spoint.png", alt="sPoint Partners")
        figcaption.copyright Copyright &copy; sPoint Partners inc.
      ul.footer-contact-list
        li
          a(href="#news") News
        li
          a(href="#") Careers at sPoint
        li
          a(href="#") Other
        li
          a(href="#") Contact
      p
        a(href="#") Privacy
        &copy;2015 sPoint Partners
    
    .columns.small-12.medium-6
      ul.footer-social-list
        li.social-facebook
          a(href="#facebook") Find us on Facebook
        li.social-twitter
          a(href="#") Follow us on Twitter
        li.social-linkedin
          a(href="#") Find us on LinkedIn