header.header(role="banner")
  .header.row
    h1.h1.columns.small-4.medium-5
      a(href="/")
        img(src="images/logos/spoint.png", alt="sPoint Partners").logo
        img(src="images/logos/tagline.png", alt="Specialized. Strategic. Search.").tagline
        span.visuallyhidden sPoint Partners - Specialized. Strategic. Search.

    nav.nav.columns.small-8.medium-7(role="navigation")
      
      ul#main-menu.main-nav
        li.menu-li-about
          a(href="about.html") About
        li.menu-li-jobs
          a(href="jobs.html") Jobs
        li.menu-li-contact
          a(href="contact.html") Contact
        li.menu-li-sign-in
          a(href="sign-in.html") Sign In
        li.menu-li-menu
          a(href="#right-off-canvas-menu", role="button", class="right-off-canvas-toggle") Menu

aside#right-off-canvas-menu.right-off-canvas-menu
  nav
    ul#off-canvas-nav
      li
        a(href="#") Link
      li
        a(href="#") Link
      li
        a(href="#") Link
      li
        a(href="#") Link
      li
        a(href="#") Link
      li
        a(href="#") Link