header.header(role="banner")
  .header.row
    h1.h1.columns.small-6.medium-4.large-3
      a(href="/")
        img(src="images/logos/spoint.png", alt="sPoint Partners").logo
        img(src="images/logos/tagline.png", alt="Specialized. Strategic. Search.").tagline
        span.visuallyhidden sPoint Partners - Specialized. Strategic. Search.

    nav.nav.columns.small-6.medium-8.large-9(role="navigation")
      //
        h2.toggle-topbar.menu-icon
          a(href="#")
            span Menu

      ul#main-menu.main-nav
        li
          a(href="about.html") About
        li
          a(href="jobs.html") Jobs
        li
          a(href="contact.html") Contact
        li
          a(href="sign-in.html") Sign In