.row.sign-up
  .columns.small-12.medium-offset-1.medium-10
    .row
      .columns.small-12.medium-3
        h3 Sign Up for the Latest Job Postings
      .columns.small-12.medium-9
        select(name="field_area")
          option(value="") Select Field Area
          option(value="option") Option 1
          option(value="option") Option 2
          option(value="option") Option 3
          option(value="option") Option 4
        input(type="email", name="email", placeholder="Your Email")
        button(type="submit").right Submit