doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title About | sPoint Partners
    meta(name="description", content="sPoint Partners")
    include _head.jade

  body#about
    .off-canvas-wrap("data-offcanvas")
      .inner-wrap
        a(href="#main").visuallyhidden Skip to main content
        .container
          include _header
          
          .hero
          
          .secondary-menu
            .row
              h1.h1.columns.medium-3
                a.active(href="/about.html") About
          
              nav.nav.columns.medium-9(role="navigation")
                
                ul#secondary-menu.main-nav
                  li
                    a(href="news.html") News
                  li
                    a(href="company_bios.html") Company Bios
                  li
                    a(href="recommendations.html") Recommendations
                  li
                    a(href="careers.html") Careers at sPoint
          
          section.about-why
            .row.intro-row
              .columns.medium-3.left
                img.round-corners(src="images/stock-square.jpg", alt="")
              .columns.medium-9.right
                h2 Why sPoint Partners?
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            .row
              .columns.medium-3
                h3 Tenure:
              .columns.medium-9
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            .row
              .columns.medium-3
                h3 Tenure:
              .columns.medium-9
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            .row
              .columns.medium-3
                h3 Tenure:
              .columns.medium-9
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            .row
              .columns.medium-3
                h3 Tenure:
              .columns.medium-9
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            .row
              .columns.medium-3
                h3 Tenure:
              .columns.medium-9
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            
          section.light-bg
            .row.intro-row
              .columns.medium-3.right
                img.round-corners(src="images/stock-square.jpg", alt="")
              .columns.medium-9.left
                h2 sPoint Core Values
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            
            .row
              .columns.small-12.center
                h3 Title.
                p Lorem ipsum doler sit amat.
                h3 Title.
                p Lorem ipsum doler sit amat.
                h3 Title.
                p Lorem ipsum doler sit amat.
                h3 Title.
                p Lorem ipsum doler sit amat.
                h3 Title.
                p Lorem ipsum doler sit amat.
                h3 Title.
                p Lorem ipsum doler sit amat.
                h3 Title.
                p Lorem ipsum doler sit amat.
                h3 Title.
                p Lorem ipsum doler sit amat.
          
          section.what-we-do
            .row.intro-row
              .columns.medium-3.left
                img.round-corners(src="images/stock-square.jpg", alt="")
              .columns.medium-9.right
                h2 Why sPoint Partners?
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            
            .row
              .columns.medium-4
                h3.dark-bg Core Disciplines
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
              .columns.medium-4
                h3.dark-bg Core Disciplines
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
              .columns.medium-4
                h3.dark-bg Core Disciplines
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
          
          hr
          
          section.our-process
            .row.intro-row
              .columns.medium-3.right
                img.round-corners(src="images/stock-square.jpg", alt="")
              .columns.medium-9.left
                h2 Our Process
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            
            .row.process-item.process-learn
              .columns.medium-3
                h3 Learn:
              .columns.medium-9
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            .row.process-item.process-consult
              .columns.medium-3
                h3 Tenure:
              .columns.medium-9
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            .row.process-item.process-map
              .columns.medium-3
                h3 Tenure:
              .columns.medium-9
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            .row.process-item.process-search
              .columns.medium-3
                h3 Tenure:
              .columns.medium-9
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            .row.process-item.process-interview
              .columns.medium-3
                h3 Tenure:
              .columns.medium-9
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
            .row.process-item.process-item.process-offer
              .columns.medium-3
                h3 Tenure:
              .columns.medium-9
                p Nullam mattis convallis ultricies. Curabitur bibendum massa nec gravida egestas. Phasellus eu imperdiet odio. Donec dignissim feugiat laoreet. Donec posuere vel sapien ut consequat. Etiam nec odio maximus, rhoncus risus vel, nulla eu imperdiet odio.
                
          section.job-postings
            include _job_postings_signup
          
          a.exit-off-canvas
          include _footer
    
    include _scripts.jade
